<div class="main">
  <div class="yourReminders">
    <p style="text-align: left; margin-left: 40px; font-weight: bold">My reminders</p>
    <div class="listReminders">
      <ul *ngFor="let reminder of yourReminders" style="list-style: none;">
        <li class="listRemindersItem">
          <button (click)="selectReminder(reminder)" class="reminderItem" [type]="selectedReminder == reminder ? 'selected' : null">
            {{reminder.name}}: in {{reminder.count}} {{reminder.unit}} </button>
        </li>
      </ul>
      <button class="buttonReminder" (click)="onRemoveReminder()"> Delete selected reminder </button>
    </div>
  </div>

  <div class="createReminder">
    <h2> CREATE REMINDER </h2>
    <mat-form-field>
      <mat-select #event placeholder="Event">
        <mat-option class="eventOption" *ngFor="let o of yourOptions" [value]=o.name>
          {{o.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="time-form-field">
      <p>Remind me at:</p>

      <button mat-mini-fab color="warn" class="decButton" (click)="decrementTimeInput()">-</button>
      <input #remindTime type="time" class="time-input" [value]="remindTimeStr">
      <button mat-mini-fab color="primary" class="incButton" (click)="incrementTimeInput()">+</button>
   
    </div>
   
    <div class="repeatForm">

      <mat-form-field class="count">
        <input matInput #numberOf type="number" min=0 max=24 required>
      </mat-form-field>

      <mat-form-field>
        <mat-select #repetition placeholder="Repeat every">
          <mat-option class="repeatOption" #repetition *ngFor="let r of repetitions" [value]=r>
            {{r}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <br>
    <button class="buttonReminder" (click)="onAddReminder(event, remindTime, numberOf, repetition)"> Add reminder </button>
  </div>
</div>