@import '../../assets/scss/variables.scss';

.friends-window {
    top: 120px;
    left: 0px;
    width: 400px;
    border-radius: 5px;
    background: white;
    float : left;
}

.friends-header {
    padding: 0 10px;
    border-radius: 0 4px 4px 0;
    background-color: $disable;
    line-height: 30px;
}

.friend-box {
    height: 400px;
    padding-top: 7px;
    overflow-y: scroll;
    background-color: rgba(#E8F8FF, 0.8);
}

.friend-container {
    margin-top:10px;
    list-style-type: none;
}

.image-container {
    float : left;
}

.text-container {
    display: inline-block;
    vertical-align: middle;
}

.information-container{
    display: inline-block;
    width: 33%;
    text-align: center;
    vertical-align: middle;
}

.img-circle {
    border-radius: 50%;
}

.friends-close-button {
    float: right;
    background: none;
    line-height: inherit;
    cursor: pointer;
}
