<app-event-operations></app-event-operations>
<div class="joinEvent">
  <div class="joinEventSearch">
    <input #eventSearch class="searchEvent" placeholder="Search" (keydown)="onEnter($event, eventSearch)">
    <div class="listSearches">
      <ul style="list-style: none;">
        <li class="listSearchItem" *ngFor="let search of searched">
          <button (click)="deleteSearch(search)">{{search}}</button>
        </li>
      </ul>
    </div>
    <div class="listEvents">
      <ul style="list-style: none;">
        <li class="listEventsItem" *ngFor="let event of events">
          <button (click)="selectEvent(event)" [type]="selectedEvent== event ? 'selected' : null">{{event.name}}</button>
        </li>
      </ul>
    </div>
    <button class="btn-joinEvent" (click)="onJoinEvent()">Join Event</button>
  </div>

  <div class="joinEventPref">
    <h2>PREFERENCES</h2>
    Sport:
    <select [(ngModel)]="prefSport" (change)="selectedSport($event.target.value)">
      <option *ngFor="let sport of sports">{{sport}}</option>
    </select>
    <br>

    Skill level:
    <select [(ngModel)]="prefSkill" (change)="selectedSkill($event.target.value)">
      <option *ngFor="let s of skill">{{s}}</option>
    </select>
    <br>
    Price:
    <mat-slider [(ngModel)]="prefPrice" class="Price" min="0" max="100" step="1" value="0" thumbLabel [displayWith]="formatLabel"
      tickInterval="5" (change)="slidePrice($event.value)"></mat-slider>
    <br>
    Participants:
    <mat-slider [(ngModel)]="prefParticipantsNr" class="participants" min="0" max="100" step="1" value="0" thumbLabel
      [displayWith]="formatLabel" tickInterval="5" (change)="slideParticipants($event.value)"></mat-slider>
    <br>
    <button class="applyFilters" (click)="onApplyFilters()">Apply filters</button>
  </div>
</div>
