<app-event-operations></app-event-operations>
<div class="eventDiv">
  <form class="form-createEvent">
    <input #eventName placeholder="{{eventNamePlaceholer}}">
    <input #eventNrPart placeholder="Type required number of participants">
    <input #eventPrice placeholder="Type price">
    <input #eventAddress placeholder="Type address">
    <input #eventAdditInfo placeholder="Additional information">

    <br>
    <select>
      <option *ngFor="let sport of sports">{{sport}}</option>
    </select>
    <br>

    <select>
      <option *ngFor="let s of skill">{{s}}</option>
    </select>
    <br>


    <select>
      <option *ngFor="let t of type">{{t}}</option>
    </select>
    <br>

    <button class="btn-createEvent" (click)="onCreate(eventName)">CREATE</button>
    <button class="btn-cancelEvent" (click)="onCancel()">CANCEL</button>

  </form>
</div>