.form-createEvent {
  background: #07575b;
  padding: 10px;
  border: 1px solid white;
  border-radius: 18px;
  -moz-border-radius: 5px;
  width: 70%;
  margin: auto;
  margin-top: 2%;

  p {
    width: 20%;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
  }

  input {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 40%;
  }

  agm-map {
    height: 300px;
  }

  .btn-createEvent {
    margin: 20px;
    font-weight: bold;
    padding: 10px;
    color: white;
    font-family: "Comic Sans MS";
    background: cadetblue;
    border: 1px solid white;
    border-radius: 18px;
    -moz-border-radius: 5px;
  }

  .btn-cancelEvent {
    background: red;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    margin: 10px;
  }
}
