.eventDiv {
  width: 100%;
  height: 100%;
  margin:auto;

  .form-createEvent {
    background: gray;
    padding: 10px;
    border: 5px solid black;
    width: 70%;
    margin: auto;
    margin-top:2%;

    p {
      width: 15%;
      display: inline-block;
      margin-left: 0;
      margin-right: 0;
    }

    input {
      margin-top:5px;
      margin-bottom:5px;
      width: 40%;
    }

    agm-map {
      height: 300px;
    }

    .btn-createEvent {
      background: greenyellow;
      color: white;
      font-weight: bold;
      border-radius:4px;
    }

    .btn-cancelEvent {
      background: red;
      color: white;
      font-weight: bold;
      border-radius:4px;
    }
  }

}
