<div class="listRecDiv">
  <p>RECOMMENDED</p>
  <div class="listRecommended">
  <ul *ngFor="let rec of recommended" style="list-style: none;">
    <li class="listRecItem">
        {{rec.name}}
        <button class="btn-joinGroup" (click)="onJoinGroup(groupName)">JOIN</button>
    </li>
  </ul>
  </div>

</div>

<div class="listGroupsDiv">
  <p>YOUR GROUPS</p>
  <div class="listYourGroups" >
    <ul *ngFor="let g of yourGroups" style="list-style: none;">
        <li class="listGroupItem">
          <p>{{g.name}}</p>
        </li>
    </ul>
  </div>
</div>

<button class="btn-createGroup" (click)="onCreateGroup()">CREATE GROUP</button>
