<div class="lists">
<div class="listRecDiv">
  <p>RECOMMENDED</p>
  <div class="listRecommended">
  <ul *ngFor="let rec of recommended" style="list-style: none;">
    <li class="listRecItem">
        {{rec.name}}
        <button class="btn-joinGroup" (click)="onJoinGroup()">JOIN</button>
    </li>
  </ul>
  </div>

</div>

<div class="listGroupsDiv">
  <p>YOUR GROUPS</p>
  <div class="listYourGroups" *ngIf="yourGroups$ | async as yourGroups">
    <ul  style="list-style: none;">
        <li class="listGroupItem" *ngFor="let g of yourGroups">
          <button (click)="selectGroup(g)"
                  [type]="selectedGroup == g.name ? 'selected' : null">{{g.name}}</button>
        </li>
    </ul>
  </div>
</div>
</div>
<div class="groupDetails">
  <p>{{selectedGroupName}}</p>
  <p>{{selectedGroupMembers}}</p>
  <p>{{selectedGroupType}}</p>
  <p>{{selectedGroupCategory}}</p>
  <p>{{selectedGroupDescription}}</p>
  <p>{{logo}}</p>
  <img style="max-width:100px;max-height:100px" [src]="selectedGroupLogo"/>

</div>
<button class="btn-createGroup" (click)="onCreateGroup()">CREATE GROUP</button>
