
.listRecDiv {
  margin: 20px;

  p {
    font-family: "Comic Sans MS";
    font-weight: bold;
    color: white;
  }

  .listRecommended {
    border: 1px solid black;
    width: 50%;
    padding-inline-end: 40px;

    .listRecItem {
      background: red;
      border: 1px solid black;
      padding: 20px;
      button {
        font-weight: bold;
        font-family: "Comic Sans MS";
        float: right;
        background: green;
        border: 1px solid black;
      }
    }
  }
}

.listGroupsDiv {
  margin: 20px;

  p {
    font-family: "Comic Sans MS";
    font-weight: bold;
    color: white;
  }

  .listYourGroups {
    border: 1px solid black;
    width: 50%;
    padding-inline-end: 40px;

    .listGroupItem {
      background:cadetblue;
      padding-left: 10px;
      border: 1px solid black;

    }
  }
}
