.groupDiv {
  width: 100%;
  height: 100%;
  margin:auto;

  .form-createGroup {
    background:rgba(#E8F8FF, 0.8);
    padding: 10px;
    border: 1px solid white;
    border-radius: 18px;
    -moz-border-radius: 5px;
    width: 80%;
    margin: auto;
    margin-top: 2%;
    overflow: hidden;
  }
}
.input-item{
  width:20%;
  margin-left:5%;
  margin-top:10px;
}


