@import '../../assets/scss/variables.scss';

.header{
    padding: 0 10px;
    border-radius: 0 4px 4px 0;
    background-color: $disable;
    line-height: 30px;
}

.post-info{
 background-color: rgba(#E8F8FF, 0.8);

 
}
.list-info{
  list-style-type: none;
  
}
.container{
  width:85%;
  margin-left:5%;
  background-color: $disable;
  margin-top:5%;
}

.information-container{
  display: inline-block;
  width: 33%;
  text-align: center;
  vertical-align: middle;
}

.button-container{
  display: inline-block;
  width: 15%;
  text-align: right;
  vertical-align: right;
}

.button-post {
  background-color: $primary;
}

.header-information{
  display: inline-block;
  width:30%;
  
}

.header-button {
  width: 5%;
  text-align: right;
  vertical-align: right;
  float:right;
  margin-top:5px;
  background-color: $warn;
}

