<h2>Recent events</h2>
<div class="flex-container">
  <div class="event-list">
    <div >
      <ul class="tooltip">
        <span class="tooltiptext" *ngIf="!selectedEvent">You can see players that have participated in the event by clicking an event</span>
        <li class="listEventsItem" *ngFor="let event of events">
          <button (click)="selectEvent(event)" [type]="selectedEvent == event ? 'selected' : null">
            {{event.name}}</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="player-list" *ngIf="selectedEvent">
      <div>
        <ul class="tooltip">
          <span class="tooltiptext" *ngIf="!selectedPlayer">You can see details of the player and rate him by clicking</span>
          <li class="listPlayersItem" *ngFor="let player of randomPlayers">
            <button (click)="selectPlayer(player)" [type]="selectedPlayer == player ? 'selected' : null">
              {{player.name}}</button>
          </li>
        </ul>
      </div>
  </div>

  <div class="player-details" *ngIf="selectedPlayer">
    <label>Name: </label>
    <p>{{selectedPlayer.name}}</p>
    <label>Number of reviews: </label>
    <p>{{selectedPlayerReviews}}</p>
    <label>Rating: </label>
    <p>{{selectedPlayerRating.toPrecision(2)}}</p>
    <label>Rate the player:</label><br>
    <fieldset class="rating">
      <input (click)="onRating(5)" type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
      <input (click)="onRating(4.5)" type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Very Good - 4.5 stars"></label>
      <input (click)="onRating(4)" type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Good - 4 stars"></label>
      <input (click)="onRating(3.5)" type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Okay - 3.5 stars"></label>
      <input (click)="onRating(3)" type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Not bad - 3 stars"></label>
      <input (click)="onRating(2.5)" type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Meh - 2.5 stars"></label>
      <input (click)="onRating(2)" type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
      <input (click)="onRating(1.5)" type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Bad - 1.5 stars"></label>
      <input (click)="onRating(1)" type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="So bad - 1 star"></label>
      <input (click)="onRating(0.5)" type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
    </fieldset>
  </div>
</div>
