//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'assets/scss/variables.scss';
@import 'assets//scss/theme.scss';

body {
    margin: 0;
    background-image: url("./assets/images/running-1.jpg");
    background-size: cover;
}