@import "../../assets/scss/variables.scss";

.recentEvents {
  float: left;
  width: 40%;

  .listEvents {
    ul {
      height: 350px;
      margin: 0;
      padding-right: 20px;
      padding-inline-start: 0px;
      list-style: none;
      overflow-y: scroll;
    }

    .listEventItem {
      button {
        width: 100%;
        margin-bottom: 10px;
        border: 1px $primary dashed;
        padding: 12px 20px;
        background: cadetblue;
        text-align: start;
        font-size: 15px;

        &[type=selected] {
          padding: 20px 15px;
          border: 5px $primary solid;
          font: 20px bold;
        }
      }
    }
  }
}

.center {
  float: right;
  width: 50%;
  margin-top: 20px;

  .showPhotos {
    border: rgb(17, 109, 185) 1px solid;
    height: 250px;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;

    img {
      margin: 10px;
      display: inline-block;
      height: 25%;
      width: auto;
    }
  }
}

.buttonPost {
  display: flex;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  border-color: rgb(17, 185, 177);
  border: 2px solid;
  color: white;
  background-color: cadetblue;
  margin-left: 230px;
}

.buttonPost:hover {
  color: rgb(17, 185, 177);
  background-color: rgb(234, 247, 250);
}
